{% extends 'base.html' %}

{% block content %}
<h3 class ="instructions">Please enter tags and select from the drop down list: </h3>
<form method="post">
<label for="tags">Tags</label>
<input type="text" name="tags" id="tags" required>
<select name="metrics">
	<option value="7d_favorites">7 Day Favorites</option>
	<option value="14d_favorites">14 Day Favorites</option>
	<option value="28d_favorites">28 Day Favorites</option>
	<option value="7d_comments">7 Day Comments</option>
	<option value="14d_comments">14 Day Comments</option>
	<option value="28d_comments">28 Day Comments</option>
	<option value="total_votes">Total Votes</option>
	<option value="total_comments">Total Comments</option>
</select>
<input type="submit" value="Submit">
</form>

<div class ="card-container">
{% for post in posts %}
<div class ="column">
	<div class="card">
		<div class ="cardcontent">
				<p class="post_title">Title: {{ post['_Title'] }}</p>
				<p class="body">Tags: {{ post['tags'] }}</p>
				<!--
				<p class="body">7 Day Favorites: {{ post['num_favorites_7d'] }}</p>
				<p class="body">14 Day Favorites: {{ post['num_favorites_14d'] }}</p>
				<p class="body">28 Day Favorites: {{ post['num_favorites_28d'] }}</p>
				<p class="body">7 Day Comments: {{ post['num_comments_7d'] }}</p>
				<p class="body">14 Day Comments: {{ post['num_comments_14d'] }}</p>
				<p class="body">28 Day Comments: {{ post['num_comments_28d'] }}</p>
				-->
		</div>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}
